.projects{

margin: 80px auto;
width: 90%;
display: flex;
justify-content: space-between;
position: relative;
right: 10%;

}

.p1 img{

width: 350px;
height: 250px;
border-radius: 10px;
display: block;
flex-basis: 31%;
margin: 10px;



}
.p2 img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    display: block;
    flex-basis: 31%;
    margin: 10px;

}

.p3 img{

    width: 350px;
    height: 250px;
    border-radius: 10px;
    display: block; 
    flex-basis: 31%;
    margin: 10px;
}

